body {
    background-color:lavender;
}

#PythonShell {
    font-family: monospace;
    white-space: pre-wrap;
    overflow: auto;
    border: 0px solid #ccc;
    padding: 1%;
    width: 30vw;
    height: 30vh;
  }